body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a{
  transition: 0.5s;
  color: #82cac7;
}
button{
  transition: 0.5s;
  outline: none !important;
}
a:hover{
  color: #21357c;
}
a.active{
  color: #21357c;
}
h1{
  font-size: 48px;
  font-weight: bold;
  color:  #21357c;
}
h2{
  font-size: 34px;
  color:  #21357c;
}
h3{
  font-size: 24px;
  color:  #21357c;
}
p{
  font-size: 16px;
  margin-bottom: 25px;
}
i{
  color: #82cac7;
  padding: 0px 0px 0px 15px;
}
.content{
  margin: 80px 0px 80px 0px;
  padding: 20px 0px 20px 0px;
}
a.button {
  border: 1px solid #82cac7;
  color: #21357c;
  padding: 12px 40px 12px 40px;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}
.button:hover{
  text-decoration: none;
  background: #82cac7;
  color: #fff;
}
.navbar{
  background: #fff;
}
.navbar a.navbar-brand:hover{
  color: #21357c;
}
.navbar a.navbar-brand span{
  color: #21357c;
}
.navbar a.navbar-brand span:hover{
  color: #82cac7;
}
.navbar li a.nav-link{
  padding: 8px 20px 8px 20px !important
}
.navbar li.highlighting a.nav-link{
  border: 1px solid #82cac7;
  border-radius: 40px;
  color: #fff;
  background: #82cac7;
  display: inline-block;
}
.navbar li.highlighting a:hover{
  border: 1px solid #21357c;
  background: #21357c;
}
.navbar ul.navbar-nav li.nav-item .dropdown-menu{
  border: 1px solid #82cac7;
}
.navbar ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item {
  color: #82cac7;
}
.navbar ul.navbar-nav li.nav-item .dropdown-menu a.dropdown-item:hover {
  color: #21357c;
}
section.services .services-card {
  border: 1px solid #82cac7;
  padding: 20px;
  background: white;
  border-radius: 30px;
  display: inline-block;
}
section.work-process{
  background: #edf4f4;
}
.development .development-card {
  margin: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 35px;
  min-height: 211px;
}
.development .development-card i{
  color: #21357c;
}
.development .development-card.web{
  background: #f0f7fd;
}
.development .development-card.android{
  background: #faf5f1;
}
.development .development-card.ios{
  background: #ecf3f3;
}
.development .development-card.ui-ux{
  background: #ecf3f3;
}
.development .development-card.project{
  background: #f0f7fd;
}
.development .development-card.quality{
  background: #faf5f1;
}
.contact .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #21357c;
}
.contact input[type], .contact select, .contact textarea{
  padding: 10px;
  border: 1px solid #82cac7;
  background: transparent;
}
.contact input[type]:focus, .contact select:focus, .contact textarea:focus{
  box-shadow: none;
  border: 1px solid #82cac7;
  background:transparent;
}
.contact button.button{
  border: 1px solid #82cac7;
  border-radius: 40px;
  color: #fff;
  background: #82cac7;
  padding: 10px 30px 10px 30px;
}
.contact button.button:hover{
  border: 1px solid #21357c;
  background: #21357c;
}
footer.footer{
  background: #82cac7;
  padding: 50px 0px 50px 0px;
}
/* screen max-width 576px */
@media (max-width: 576px) {
  section.services .services-card {
    margin-bottom: 25px;
  }
}
/* screen max-width 768px */
@media (max-width: 768px) {
  h2{
    font-size: 30px;
  }
}
/* screen min-width 576px and max-width 768px */
@media (min-width: 576px) and (max-width: 768px) {
  section.services .services-card {
    padding: 10px;
    min-height: 270px;
  }
  section.services .services-card h2{
    min-height: 80px;
  }
}
/* screen min-width 1200px */
@media (min-width: 1200px){
  .container {
    max-width: 1300px;
  }
}